.toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 60px;
  border-radius: 5px;
  background-color: #444;
  overflow: hidden;
  margin-left: 20px;

  button {
    height: 60px;
    width: 100px;
    border: none;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-size: 16px;
  }

  .active {
    background-color: #f0f0f0;
    color: #444;
  }
}
