.toggle-container {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 2147483647;
  width: 100%;
  background-color: white;
  margin-bottom: 50px;
  padding-top: 20px;
}

.sensor-toggle-container {
  display: flex;
  flex-wrap: wrap;
}

.toggle-box {
  flex: 1 1 150px;
  max-width: 150px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 150px;
  height: 100px;
  color: white;
  background-color: rgba(0, 0, 0, 1);
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin-right: 10px;
  transition: all 0.3s ease-in-out;

  &.active {
    background: rgba(0, 0, 0, 0.6);
  }

  @media screen and (max-width: 480px) {
    width: calc(50% - 5px);
    margin-bottom: 10px;
    flex-basis: calc(50% - 5px);
    max-width: calc(50% - 5px);
  }
}

.icon {
  width: 30px;
  height: 30px;
}
