@use '../../constants/variables';

.chart-container {
  flex: 0 0 49%;
  position: relative;
  opacity: 1;
  height: 100%;
  width: 100%;
  margin-bottom: 50px;
  transition: opacity 0.3s ease-in-out, height 0.3s step-start;
  color: variables.$light;

  .icon {
    width: 90px;
    height: 90px;
  }

  @media (max-width: 1024px) {
    flex: 0 0 100%;
    justify-content: center;
  }
}

.hidden {
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition-timing-function: ease-in-out, step-end;
}

.chart {
  width: 100%;
}

.no-data-message {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: 10;
}
